/*Especificidad: 001*/
body {
    font-family: Arial, sans-serif;
    color: #000;
    background-color: #ffffff;
}

/*Especificidad: 001*/
main {
    margin-top: 3em;
}

/*Especificidad: 001*/
nav {
    float: left;
    color: #fff;
    background-color: #000000;
    width: 100%;
    position: fixed;
    z-index: 100;
}

/*Especificidad: 002*/
nav ul {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/*Especificidad: 003*/
nav ul li {
    float: left;
    font-family: Tahoma, serif;
    font-size: 16px;
}

/*Especificidad: 004*/
nav ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

/*Especificidad: 014*/
nav ul li a:hover {
    background: #ffffff;
    color: #c61501;
}

/*Especificidad: 002*/
footer p {
    font-size: 10pt;
    text-align: center;
}

/*Especificidad: 001*/
h1 {
    color: #fff;
    background-color: #c61501;
    text-transform: uppercase;
    padding: 1.5em;
    text-align: center;
    font-family: Tahoma, serif;
    font-size: 35pt;
    margin-left: 0.7em;
    margin-right: 0.7em;
}

/*Especificidad: 001*/
h2 {
    color: #c61501;
    text-transform: uppercase;
    font-family: Tahoma, serif;
    font-size: 22pt;
    margin-left: 1em;
    margin-right: 1em;
}

/*Especificidad: 001*/
p {
    color: #000;
    font-size: 14pt;
    margin-left: 1.5em;
    margin-right: 1.5em;
    text-align: justify;
    font-family: Tahoma, serif;
}

/*Especificidad: 011*/
a:hover {
    text-decoration: underline;
}

/*Especificidad: 011*/
a:active {
    color: #5C0000;
}

/*Especificidad: 002*/
a img {
    width: 0.9rem;
    height: auto;
}