/*Especificidad: 001*/
body {
    font-family: Arial, sans-serif;
    color: #000;
    background-color: #D7B5A7;
}

/*Especificidad: 002*/
header h1 {
    font-size: 25pt;
    text-align: center;
    padding: 0%;
}

/*Especificidad: 002*/
header h2 {
    font-size: 13pt;
    text-align: center;
}

/*Especificidad: 002*/
footer p {
    font-size: 8pt;
}

/*Especificidad: 001*/
h1 {
    color: #fff;
    background-color: #69433F;
    border-color: #fff;
    border-style: dashed;
    text-transform: uppercase;
    padding: 1.5em;
    text-align: center;
    font-family: Chalkduster, fantasy;
    font-size: 35pt;
    margin-left: 0.7em;
    margin-right: 0.7em;
}

/*Especificidad: 001*/
h2 {
    color: #512013;
    text-transform: uppercase;
    font-family: Chalkduster, fantasy;
    font-size: 22pt;
    margin-left: 1em;
    margin-right: 1em;
}

/*Especificidad: 001*/
p {
    color: #000;
    font-size: 16pt;
    margin-left: 1.5em;
    margin-right: 1.5em;
    text-align: justify;
}

/*Especificidad: 001*/
a {
    color: #0000A3;
    font-weight: bold;
    font-size: 15pt;
}

/*Especificidad: 011*/
a:hover {
    text-decoration: underline;
}

/*Especificidad: 011*/
a:active {
    color: #5C0000;
}

/*Especificidad: 001*/
ol {
    list-style: none;
}

/*Especificidad: 002*/
ol li,
ul li {
    font-size: 14pt;
    margin-left: 1.2rem;
}

/*Especificidad: 002*/
ol li {
    counter-increment: steps;
}

/*Especificidad: 003*/
ol li::before {
    content: counter(steps);
    margin-right: 0.5rem;
    background: #512013;
    color: white;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    display: inline-grid;
    place-items: center;
    line-height: 1em;
}

/*Especificidad: 001*/
ul {
    margin-right: 0.5rem;
    list-style: square;
}

/*Especificidad: 001*/
caption {
    font-weight: bold;
    font-size: 18pt;
}

/*Especificidad: 001*/
td,
th {
    width: 35rem;
    height: 2rem;
    border: solid #ccc;
    text-align: center;
    background-color: #fff;
    color: #000;
}

/*Especificidad: 001*/
th {
    background: #422700;
    border-color: white;
    color: #fff;
}

/*Especificidad: 001*/
fieldset {
    border-style: dotted;
    border-color: #422700;
    background-color: #E2C9C1;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

/*Especificidad: 002*/
form label,
form fieldset legend {
    font-weight: bold;
    color: #422700;
}

/*Especificidad: 003*/
form fieldset legend {
    font-size: 18pt;
}

/*Especificidad: 002*/
form label {
    font-size: 14pt;
}

/*Especificidad: 012*/
form input[type="text"],
form input[type="email"],
form input[type="date"],
form input[type="submit"] {
    font-size: 12pt;
    color: #000;
}