body{
    display: grid;
    grid-template-areas: "hea"
        "nav"
        "main"
        "foo"
}

header{
    grid-area: hea;
}

nav{
    grid-area: nav;
    text-align: center;
}

h1{
    grid-area: h;
}

section{
    grid-area: sec;
    display: grid;
    grid: "h"
        "p"
        "o"
}

section h2{
    grid-area: h;
}

section p{
    grid-area: p;
}

section ol{
    grid-area: o;
}

aside{
    grid-area: asi;
    display: grid;
    grid: "h"
        "p"
        "u";
}

aside h2{
    grid-area: h;
}

aside p{
    grid-area: p;
}

aside ul{
    grid-area: u;
}

footer{
    grid-area: foo;
}