body{
    display: grid;
    grid-template-areas: "hea"
        "nav"
        "main"
        "foo"
}

header{
    grid-area: hea;
}

nav{
    grid-area: nav;
    text-align: center;
}

main{
    grid-area: main;
}

footer{
    grid-area: foo;
}