/*Especificidad: 002*/
section img,
section video,
section audio {
    display: block;
    margin: auto;

}

/*Especificidad: 002*/
section video {
    width: 50%;
    height: auto;
}

section img {
    width: 1000%;
    height: auto;
}