/*Especificidad: 001*/
caption {
    font-weight: bold;
    font-size: 18pt;
}

/*Especificidad: 001*/
td,
th {
    width: 35rem;
    height: 2rem;
    text-align: center;
    background-color: #fff;
    color: #000;
}

/*Especificidad: 001*/
img {
    display: block;
    margin: auto;

}