/*Especificidad: 001*/
h3 {
    color: #a51100;
    font-family: Tahoma, serif;
}

/*Especificidad: 001*/
h4 {
    color: #7d0d00;
    font-family: Tahoma, serif;
}

/*Especificidad: 001*/
li {
    font-size: 14pt;
}

figure h5 {
    color: #ce1500;
    font-family: Tahoma, serif;
}

/*Especificidad: 001*/
fieldset {
    border-color: #c61501;
    background-color: #fff;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

/*Especificidad: 002*/
fieldset input {
    margin-left: 2.5em;
}

/*Especificidad: 002*/
figure img {
    width: 40%;
    height: auto;
}