/*Especificidad: 001*/
body {
    font-family: Arial, sans-serif;
    color: #000;
    background-color: #ffe3e3;
}

/*Especificidad: 002*/
header h1 {
    font-size: 25pt;
    text-align: center;
    padding: 0%;
}

/*Especificidad: 002*/
header h2 {
    font-size: 13pt;
    text-align: center;
}

/*Especificidad: 002*/
footer p {
    font-size: 10pt;
    text-align: center;
}

/*Especificidad: 001*/
h1 {
    color: #fff;
    background-color: #c61501;
    border-radius: 5ex;
    text-transform: uppercase;
    padding: 1.5em;
    text-align: center;
    font-family: Chalkduster, fantasy;
    font-size: 35pt;
    margin-left: 0.7em;
    margin-right: 0.7em;
}

/*Especificidad: 001*/
h2 {
    color: #c61501;
    text-transform: uppercase;
    font-family: Chalkduster, fantasy;
    font-size: 22pt;
    margin-left: 1em;
    margin-right: 1em;
}

/*Especificidad: 001*/
p {
    color: #000;
    font-size: 16pt;
    margin-left: 1.5em;
    margin-right: 1.5em;
    text-align: justify;
}

/*Especificidad: 001*/
a {
    color: #00006b;
    font-weight: bold;
    font-size: 15pt;
}

/*Especificidad: 011*/
a:hover {
    text-decoration: underline;
}

/*Especificidad: 011*/
a:active {
    color: #5C0000;
}