/*Especificidad: 001*/
caption {
    font-weight: bold;
    font-size: 18pt;
}

/*Especificidad: 001*/
td,
th {
    width: 35rem;
    height: 2rem;
    text-align: center;
    background-color: #A41313;
    color: #fff;
}

/*Especificidad: 001*/
h3 {
    color: #a51100;
    background-color: #fff;
    font-family: Tahoma, serif;
}

/*Especificidad: 001*/
h4 {
    color: #7d0d00;
    background-color: #fff;
    font-family: Tahoma, serif;
}

/*Especificidad: 001*/
fieldset {
    border-color: #c61501;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

/*Especificidad: 002*/
fieldset input {
    margin-left: 2.5em;
}

/*Especificidad: 001*/
li {
    font-size: 14pt;
}