/*Especificidad: 001*/
section{
    display: grid;
    grid: "h h"
        "s i"
}

/*Especificidad: 002*/
section img ,section video ,section audio{
    grid-area: i;
}

/*Especificidad: 002*/
section p{
    grid-area: s;
    text-align: justify;
}

/*Especificidad: 002*/
section h2{
    grid-area: h;
}